
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Shopping-Application</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CartServlet</display-name>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.deloitte.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewProduct</display-name>
		<servlet-name>ViewProduct</servlet-name>
		<servlet-class>com.deloitte.ViewProduct</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyCart</display-name>
		<servlet-name>MyCart</servlet-name>
		<servlet-class>com.deloitte.MyCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewProduct</servlet-name>
		<url-pattern>/ViewProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyCart</servlet-name>
		<url-pattern>/MyCart</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
